.category_nav {
    background: url(../img/bg4.png) center center;
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
}
.navIcon {
     background-position: center center;
     background-size: 46%;
     background-repeat: no-repeat;
     border-radius: 100%;
     width: 87px;
     height: 87px;
     border: 2px solid #ffffff;
     margin: 0 auto;
 }
.category_nav_icon11 {
    background-image: url(../img/nav_icon11.png);
}
 .category_nav_icon12 {
    background-image: url(../img/nav_icon12_hover.png);
    background-color: #ffffff;
}
.category_nav_icon13 {
    background-image: url(../img/nav_icon13.png);
}
.category_nav ul li {
    display: inline-block;
    margin-left: 45px;
    margin-right: 45px;
}
.category_nav ul{
    margin-top: 90px;
}
.category_nav_title {
    font-family: 微软雅黑;
    font-size: 14px;
    color: rgb(255, 255, 255);
    padding-top: 14px;
}

/*中间效果图区域*/
.job_text{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}
p.job_text_t1{
    font-size: 20px;
    font-family: 微软雅黑;
    color: #195949;
    line-height: 200%;
    padding-top: 50px;
}
p.job_text_t2{
    font-size: 16px;
    font-family: 微软雅黑;
    color: #195949;
    line-height: 200%;
}
.job_main{
    background: #ECEDE9;
}



.albums{
    width: 100%;
    float: left;
}
.albums-inner{
    width: 1100px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}
.albums-title {
    float: left;
    width: 100%;
    color: rgba(53,117,159,1);
    font-size: 20px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgba(53,117,159,1);
    line-height: 50px;
    margin-bottom: 100px;
}
.albums-tab{
    float: left;
    width: 300px;
    margin-right: 100px;
    margin-bottom: 100px;
}
.albums-tab:nth-child(3n+0) {
    margin-right: 0px;
}

.albums-tab-thumb{
    float: left;
    width: 300px;
    height: 200px;
}
.albums-tab-thumb img {
    height: auto;
    width: 290px;
    background-color: rgba(255,255,255,1);
    padding: 5px;
}
.albums-tab-text{
    float: left;
    width: 100%;
    text-align: center;
    color: #F7A586;
    margin-top: 15px;
    font-size: 18px;
}
.albums-tab-text span {
    font-size: 14px;
    color: rgba(102,102,102,1);
}
.job_main{
    height: 2550px;
}

/*招聘信息*/

p.chuangy{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    line-height: 25px;
    color: #FFFFFF;
    font-family: "Adobe Caslon Pro Bold";
}
div.job_main{
    background: url(../img/bg14.jpg);
}
